/*-----會員專區的大div-----*/
.clientbox {
    width: 1200px;
    height: 950px;
    background-image: url("../images/會員背景.jpg");
    background-repeat: inherit;
    margin: 50px auto;
    opacity: 85%;
    border-radius: 50px;
}

/*-----會員專區名稱(大標)-----*/
.client2 {
    font-size: 80px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 800px;
    padding-top: 25px;
    letter-spacing: 50px;
    font-weight: 500;
}

/*-----會員資料的大div-----*/
.clienttextbox{
    margin-top: 50px;
    height: 600px;
}

/*-----會員資料的內容-----*/
.clienttext{
  font-size: 40px;
  margin-left: 250px;
  letter-spacing: 7px;
  line-height: 95px; 
}

/*-----會員資料的輸入框-----*/
.clientunformation{
    height: 40px;
    width: 400px;
    font-size: 25px;
}

/*-----更改資料按鈕-----*/
.cbutton1 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 45px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #990385;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 80px;
    margin-left: 250px;
}
.cbutton1:hover {
    background-color:#de67e2
}
.cbutton1:active {
    background-color: #de67e2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*-----登出按鈕-----*/
.cbutton2 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 45px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #990385;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
   margin-top: 80px;
   margin-left: 250px;
   letter-spacing: 7px;
}
.cbutton2:hover {
    background-color: #de67e2;
}
.cbutton2:active {
    background-color: #de67e2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
   