/*-----商品內頁-----*/
.list{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: left;
  display: flex;
  padding-top: 2%;
}

/*-----產品圖片(左區塊)-----*/
.product_pt{
  margin: 2% 6% 2% 12%;
  width: 30%;
  text-align: center;
}

/*-----產品照片背景-----*/
.product_background{
    background-color: #a0c1b9;
    width: 500px;
    height: auto;
}

/*-----產品照片-----*/
.product_photos{
    padding: 5%;
    text-align: center;
}

/*-----產品介紹(右區塊)-----*/
.product_text{
  margin: 2% 10% 2% 2%;
  width: 80%;
  height: auto;
  text-align: center;
  background-color: #a0c1b9;
}

/*-----產品名稱(大標)-----*/
.product_ititle{
  color: #DD614A;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 40px;
  margin: 2%;
}
.product_ititle:hover{
    color: #DF2935;
}

/*-----商品介紹文字-----*/
.product_itd{
  text-align: left;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 5px;
  line-height: 40px;
  margin: 3%;
}

/*-----包住訂購列的大div-----*/
.buy_information{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----form-----*/
.buy_quantitybox{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----訂購數量文字-----*/
.buy_quantity{
    font-size: 35px;
    font-weight: bolder;
    margin: 5% 2% 5% 4%;
    letter-spacing: 10px;
}

/*-----訂購數量調整框-----*/
.car_button{
    width: 15%;
    height: 30px;
    font-size: 35px;
}

/*-----直接加入購物車按鈕-----*/
.gotoshoppingcar {
    display: inline-block;
    padding: 1% 3%;
    margin: 4% 3% 4% 2%;
    font-size: 30px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #EFF6EE;
    background-color: #F02D3A;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.gotoshoppingcar:hover{
    background-color: #DD0426
}
.gotoshoppingcar:active {
    background-color: #DD0426;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*-----星等級+評論框的大div-----*/
.star_comment{
    margin: 2% 10% 2% 12%;
    width: auto;
    border-radius: 5px;
    background-color: #a0c1b9;
    padding-bottom: 10px;
}

.startitle{
    font-size: 45px;
    margin: 2%;
    float: left;
}

.star_commentbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*-----星等級-----*/
.rating{
    width: 200px;
    position: relative;
    transform: rotateY(180deg);
    display: flex;
    padding: 2%;
    justify-content: flex-end;
}

.rating input{
    display: none;
    letter-spacing: 2%;
}

.rating label{
    display: block;
    cursor: pointer;
}

.rating label:before{
    content: '★';
    position: absolute;
    display: block;
    font-size: 50px;
    color: #DBDFAC;
    z-index: 1;
}
.rating label:after{
    content: '★';
    position: relative;
    display: block;
    font-size: 50px;
    color: #DB162F;
    opacity: 0;
    transition: .3s;
    text-shadow: 0;
    z-index: 2;
}

.rating label:hover:after,
.rating label:hover~label:after,
.rating input:checked~label:after{
    opacity: 1;
}

/*-----填寫評論框-----*/
input[type=text]{
    width: 50%;
    padding: 1% 2%;
    margin: 2%;
    border: 1% solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}

/*-----送出評論按鈕-----*/
.sendto{
    display: inline-block;
    padding: 1% 2%;
    margin: 3%;
    font-size: 22px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #EFF6EE;
    background-color: #095256;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.sendto:hover{
    background-color: #153B50;
}
.sendto:active {
    background-color: #153B50;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*-----其他買家評價-----*/
.buyer_comment{
    margin: 2% 10% 2% 12%;
    width: auto;
    border-radius: 5px;
    background-color: #a0c1b9;
    padding-bottom: 10px;
}

/*---其他買家評論的大div---*/
.allcommentstitle{
    font-size: 50px;
    font-weight: bold;
    padding: 2%;
}

/*---其他買家評論的div---*/
.comments_container{
    width: auto;
    height: auto;
    background-color: #B3D89C;
    margin: 3%;
    display: flex;
    align-items: center;
}

/*---其他買家評論內容文字---*/
.comments_content{
    padding: 2%;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 5px;
    line-height: 10px;
    color: #1F1300;
}

/*---其他買家評論星星---*/
.comments_stars{
    font-size: 50px;
    color: #DB162F;
    position: relative;
    transform: rotateY(180deg);
    display: flex;
    padding: 2%;
    justify-content: flex-end;
}