/*-----結帳頁面的大div-----*/
.paybox {
    width: 1200px;
    height: auto;
    background-image: url("../images/大理石1.jpg");
    background-repeat: inherit;
    margin: 50px auto;
    opacity: 85%;
    border-radius: 50px;
}

/*-----結帳文字(大標)-----*/
.paytitle {
    color: rgb(26, 26, 119);
    font-size: 75px;
    letter-spacing: 20px;
    margin: 0px 510px;
    padding-top: 30px;
}

/*-----包結帳頁面的div-----*/
.paycontainer {
    margin-top: 20px;
    width: 900px;
    margin-left: 150px;
    border-style: double;
    border-radius: 20px;
    border-width: 10px;
}

/*-----結帳頁面文字-----*/
.logintext {
    font-size: 40px;
    line-height: 70px;
    padding-top: 20px;
    margin-left: 20px;
}

/*-----結帳頁面文字輸入框-----*/
.payinput1 {
    height: 30px;
    width: 300px;
    line-height: 70px;
    font-size: 25px;
}

/*-----結帳付款下拉式選單-----*/
.paywhere {
    height: 45px;
    width: 150px;
    font-size: 30px;
}

/*-----結帳付款下拉式選單(選項內容)-----*/
option {
    font-size: 30px;
    z-index: 3;
}

/*-----結帳頁面備註文字輸入框-----*/
.saybox {
    margin-left: 130px;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 55px;

}

/*-----確認送出鈕-----*/
.pay {
    display: inline-block;
    padding: 15px 25px;
    font-size: 45px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #173d6e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 260px;
}
.pay:hover {
    background-color: #4b59a8
}
.pay:active {
    background-color: #4b59a8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*-----返回鈕-----*/
.pay2 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 45px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #173d6e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 250px;
}
.pay2:hover {
    background-color: #4b59a8
}
.pay2:active {
    background-color: #4b59a8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}